body {
        background-color: #f8f9fa;
    }

    .home-container {
        margin-top: 3rem;
    }

    .jumbotron-custom {
        background-color: #fff133e1;
        padding: 2rem;
        border-radius: 0.5rem;
        color: #0f5132;
    }

    .librarian-greeting {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .welcome-message {
        font-size: 1.2rem;
    }